/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');
/*===== VARIABLES CSS =====*/
:root{
  --HEADER-HEIGHT :3rem;
  /*===== Font weight =====*/
  --FONT-MEDIUM:500;
  --FONT-SEMIBOLD:600;
  --FONT-BOLD:700;

  /*===== Colores =====*/
  --DARK-COLOR:#141414;
  --DARK-COLOR-LIGHT :#8A8A8A;
  --DARK-COLOR-LIGHTEN:#F2F2F2;
  --WHITE-COLOR:#FFF;
  --BG-COLOR-GRREN: #005B41;
  --BUTTON-COLOR: #FFBF00;
  --ABOUT-COLOR: #373A40;
  --BORDER-COLOR: #686D76;
  --BORDER-COLOR-2: #AF8F6F;
  --BG-COLOR-2 :#344C64;
  --WIZ-BG-COLOR :#1E2221;
  --ICONS-COLOR: #FDE49E;




  /*===== Font and typography =====*/
  --BODY-FONT: "Poppins" ,'sans-serif';
  --SECOND-FONT: "Quantico", sans-serif;
  --THIRD-FONT: "Syne", sans-serif;
  --BIG-FONT-SIZE: 1.25rem;
  --BIGGEST-FONT-SIZE: 2rem;
  --H2-FONT-SIZE:1.25rem;
  --NORMAL-FONT-SIZE:.938rem;
  --SMALLER-FONT-SIZE:.8rem;
  --WIX-FONT-COLOR: #D4D6C4;



  /*===== Margenes =====*/
  --MB-1 :.5rem;
  --MB-2 : 1rem;
  --MB-3 : 1.5rem;
  --MB-4 : 2rem;
  --MB-5 : 2.5rem;
  --MB-5 :  3rem;

  /*===== z index =====*/
  --Z-INDEX-1: 100;
  
  
  /*===== Rotate img =====*/
  --ROTATE-IMG: rotate(-30deg);
}




/* ==================FONTS============= */
@font-face {
  font-family: font01;
  src: url("Gridova DEMO VERSION.ttf") format('opentype');
}

@font-face {
  font-family: Angoljnr-02;
  src: url("QIOMY.otf") format('opentype');
}

@font-face {
  src: url("Monberg.otf") ;
  font-family: Angoljnr;
}


@font-face {
  src: url("Serbie.otf") ;
  font-family: Serbie;
}

@font-face {
  src: url("Corleone-Regular.otf") ;
  font-family: Godfather;
}

.grid{
    display: grid;
}

.container{
    display: flex;
}

/*===== BASE =====*/
*::before ,::after{
    box-sizing: border-box;
   
}
  
body{
  font-family: Serbie;
  background-color: var(--WIZ-BG-COLOR);
  color: var(--WIX-FONT-COLOR);
}
  
html{
    scroll-behavior: smooth;
  
}

h1,h2,h3,p,ul{
    margin: 0;
  }
  
ul{
    padding: o;
    list-style: none;
}
  
a{
    text-decoration: underlinel;
    color: var(--WIX-FONT-COLOR);
}
  

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--Z-INDEX-1);
    background-color: dark var(--DARK-COLOR-LIGHT);
    margin-bottom: 9rem;
  
  }
  
  /*===== NAV =====*/
  .nav{
      height: var(--HEADER-HEIGHT);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--DARK-COLOR-LIGHT);
      padding: 0 2rem;
  }

  .section-title{
    text-align: center;
    font-family: Serbie;
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  
  @media screen and (max-width: 768px) {
    .nav__menu{
      position: fixed;
      top: var(--HEADER-HEIGHT);
      left: -100%;
      width: 70%;
      height: 100vh;
      padding: 2rem;
      background-color: var(--WIZ-BG-COLOR);
      transition: left .5s;
    }
    
  }
  
  .nav__item{
    margin-bottom: var(--MB-4);
  }
  
  /* =================NAV-ICONS============= */
.nav__icons{
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 12rem;
}

.nav__icons i:hover{
    color: #FDE49E;
}

  .nav__logo{
    font-weight: var(--FONT-SEMIBOLD);
  }
  
  .nav__toggle ,
  .nav__shop{
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  /*Show menu*/
  .show-menu {
    left: 0;
  }
  
  /*Active link*/
  .active{
    position: relative;
  }
  
  .bd-grid{
    display: grid;
  }
  
  .active::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 18px;
    width: 4px;
    height: 4px;
    background-color: var(--DARK-COLOR);
    border-radius: 50%;
  
  }
  
  .scroll-header{
    background-color: var(--WHITE-COLOR);
    box-shadow:  0 12px 20px rgba(0 ,0 ,0 .7);
  }  
  /*Change colo
  
  r header*/
/*   ==================HOME================== */
.home{
  height: 80vh;
  margin-top: 3rem;
  place-items: center;
  margin-bottom: 2rem;
}

.home__img,
.album__img,
.music__img{
  width: 300px;
  height: 300px;
}

.nav__icons a{
  text-decoration: none;
  font-size: 1.5rem;
}

.listeners__container{
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.home__content{
  place-items: center;
}

.button-1{
  background: none;
  border: 2px solid black;
  color: black;
  border-radius: 3rem;
  font-family: Angoljnr;
  padding: .5rem .5rem;

}

.button-2{
  background-color: var(--BUTTON-COLOR);
  color: black;
  padding: .5rem .5rem;
  border-radius: 3rem;
  border: none;
}

.home__content{
  grid-template-columns: repeat(auto-fit ,minmax(300px ,1fr));
  row-gap: 2rem;
  place-items: center;
}

/* ==================RECENT ALBUM================ */
.album__art{
  width: 500px;
  height: 500px;
  margin: 0 2rem auto;
  border: .5px solid var(--WIX-FONT-COLOR);
}

.bottom__text{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.featured__music{
  place-items: center;
  grid-template-columns: repeat(auto-fit ,minmax(250px ,1fr));
  row-gap: 1rem;

}

.image__cover,
.more__music,
.about__img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: .5px solid var(--WIX-FONT-COLOR);
  transition: background-color .4s;
}

.more__music:hover{
  background-color: #585151;

}

/* ===================NEW MUSIC============= */
.music{
  position: relative;
  margin-bottom: 3rem;

}

.music__video{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 1;
  margin: 2rem 2rem;
  object-fit: cover;
  border: 1px solid var(--WIX-FONT-COLOR);

}

.music__content__2{
  position: relative;
}

.Artist{
  position: absolute;
  top: -2rem;
  text-align: center;
  font-family: Angoljnr;
  font-weight: bold;
  font-size: 4rem;
  margin: 0 4rem auto;
  z-index: -1;
}

.music__text{
  margin-top: 5rem;
  text-align: center;
  padding-left: 4rem;

}



.music__description{
  grid-template-columns: 250px;
  place-items: center;
  margin: 0 10rem auto;
  row-gap: 2rem;

}

.video,
h3,
a{
  font-family: Serbie;
  font-size: 1rem;
  text-align: center;
  margin: 0 2rem auto;

}

.music__title{
  font-weight: bolder;
  font-size: 3rem;
  font-family: Serbie;
}

.description__2{
 padding-left: 20rem;
  width: 400px;
}

.album__note{
  font-family: Angoljnr;
  font-size: 4rem;
  text-align: center;
}

/* ====================TOUR DATES================= */

.tour__box{
  display: flex;
  border: 1PX solid white;
  justify-content: space-between;
  padding: .5rem .5rem;
  margin-bottom: 1rem;
}

.tour__button,
.tickets__link
{
  border: 2px solid black;
  outline: none;
  background: transparent;
  font-family: Serbie;
}

.tickets__link{
  color: white;
  border: 2px solid white;
  border: none;

}

.tour__img{
  width: 400px;
  height: 300px;
  margin: 0 4rem auto;
}

/* ==============ABOUT ARTIST======================== */
.about__img{
    margin: 0 10rem auto;
    width: 300px;
    height: 300px;
    object-fit: cover;

}
    .about__content{
      font-family: "Syne" ,'sans-serif
    }

    .description{
      font-family: "Syne" ,sans-serif;
      line-height: 1.5;
    }





/*===== NEWSLETTER =====*/
.newsletter__contianer{
  background-color: var(--DARK-COLOR);

  padding: 2rem .5rem;
  border-radius: .5rem;
  text-align: center;
  margin-top: 2rem;
}

.newsletter__title{
  font-size: var(--BIGGEST-FONT-SIZE);
  margin-bottom: var(--MB-2);
}
.newsletter__description{
  margin-bottom: var(--MB-5);
}


.newsletter__subscribe{
  display: flex;
  column-gap: .5rem;
  background-color: var(--WHITE-COLOR);
  padding: .5rem;
  border-radius: .5rem;
}

.newsletter__inpt{
  outline: none;
  border: none;
  width: 90%;
  font-size: var(--NORMAL-FONT-SIZE);
}

.newsletter__inpt::placeholder{
  color: grey;
  font-family: var(--BODY-FONT);
  font-size: var(--NORMAL-FONT-SIZE);
  font-weight: var(--FONT-SEMIBOLD);
}

.button__input{
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 1rem 1rem;
}



/* ==================LISTEN======================= */
.listen__container{
  background-color: white;
  color: black;
  margin: 0 8rem auto;
  height: 100%;
  margin-top: 12rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  box-shadow: dropshadow(0 12px 20px rgba(0 0, 0, .75));
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .4);
}


.play__buttton{
  outline: none;
  background-color: #EEEEEE;
  border: none;
  border-radius: .5rem;
  transition: background-color .4s, border .4s;
}

.play__buttton:hover{
  border:  1px solid var(--WIX-FONT-COLOR);
  background-color: #EEF7FF;
}

.play__link{
  color: black;
  text-decoration: none;

}

.listen__image{
  width: 100px;

}

.listen__content{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  padding: 1rem 1rem;
  border-bottom: 1px solid #AF8F6F;
}


.listen__content:nth-child(2) img{
  height: 40px;
  object-fit: center
}

.listen__content:nth-child(4) img{
  height: 40px;
  object-fit: cover;
}

.listen__content:nth-child(7) img{
  height: 40px;
  object-fit: cover;
}
.listen__content:nth-child(3) img{
  height: 40px;
  object-fit: cover;
}
.listen__content:nth-child(5) img{
  height: 40px;
  object-fit: cover;
}
.listen__content:nth-child(6) img{
  height: 40px;
  object-fit: cover;
}

.listen__content:nth-child(8) img{
  height: 40px;
}

/* ===========ARTIST IMAGE COVER============== */

.artist__img-cover{
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 8rem auto;
  text-align: center;
 
}

.artist__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 3rem 0;
  border-radius: 1rem;
  box-shadow: drop shadow(0 12px 20px rgba(0, 0%, 0% ,.75));
}

.music__platform{
  color: grey;
}


/* ===================FOOTER=============== */
.footer{
  margin-top: 2rem;
  text-align: center;
  padding: 2rem 3rem;
  color: #8A8A8A;
  font-family: var(--THIRD-FONT);
}


.copyright{
  font-size: .5rem;
  font-family: var(--THIRD-FONT);
}


/* ================DROP DOWN ARROW========== */
.menu {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
  right: 5rem;
}

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: var(--DARK-COLOR-LIGHT);
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  margin-right: 8rem;
  color: var(--WHITE-COLOR);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: var(--DARK-COLOR-LIGHT);
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}


/* =======================SEACRCH INPUT================= */
/* From Uiverse.io by boryanakrasteva */ 
.input-container {
  margin: 7rem 25rem;
  width: 520px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.button{
  padding: 2px 3px;
  font-size: 1.5rem;
}


/* ==========MDIA QUERIES=============== */
@media screen and  (max-width: 768px){
    .music,
    .music__container{
      margin-top: 20rem;
    }

    .music__content{
      margin-top: 8rem;
    }

    .album__art{
      width: 400px;
    }

     .album__note{
      margin:  0 8rem auto;
      width: 400px;
    }
    

    .music__video{
      width: 350px;
      height: 350px;
    }

    .description__1{
      margin-right: 15rem;
    }


    .description__2{
      margin-right: 9rem;
    }

    .tour__container{
      margin:  0 7rem auto;
      width: 400px;
    }

    .home{
      margin: 6rem 10rem ;
    }
    
    .footer,
    .featured__music,
    .newsletter{
      margin:  0 7rem auto;
      width: 400px;
    }





}


@media (min-width: 768px) and (max-width: 991px){
  .music__container{
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 2rem;
    margin-top: 10rem;
  }

  .nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin: 0 20rem auto;
    text-align: center;
    padding-top: 2rem;
}

.nav__logo,
.nav__toggle{
  display: none;
}

.nav__icons{
  display: none;
}

.img__container  .album__art{
  margin: 0 18rem auto;
}

.bottom__text{
  width: 100%;
  margin-left: 7rem;
}

.featured__music,
.tour__container,
.about__container,
.newsletter__contianer {
  width: 100%;
  margin: 0 10rem auto;
}

.about__img{
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 2px solid var(--ICONS-COLOR);
}

.about__content .description{
  font-size: 1.5rem;
}

.newsletter__contianer{
  margin-top: 3rem;
}

.home__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  
}
.buttons__container{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 1.5rem;
}

.content__1{
  margin-right: 6rem;
  font-size: 1.5rem;
}

.home{
  margin-bottom: 10rem;
}


/* ===================ISTEN============ */
.artist__img-cover{
  margin: 0 20rem auto;
  padding-bottom: 8rem;
 
}

.artist__img{
  margin: 3rem 0;
  width: 250px;
  height: 250px;

}


.listen__container{
margin: 0 15rem auto;
margin-top: 4rem;

}

}


@media (min-width: 992px) and (max-width: 1119px){
  .nav__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin: 0 20rem auto;
    text-align: center;
    padding-top: 2rem;
}

.nav__logo,
.nav__toggle{
  display: none;
}

.music__container{
  grid-template-columns: repeat(2 ,1fr);
  row-gap: 2rem;
  margin-top: 10rem;
}


.featured__music{
  padding-left: 10rem;
}
  
.nav__icons{
  display: none;
}

.home__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  
}
.buttons__container{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 1.5rem;
}

.content__1{
  margin-right: 6rem;
  font-size: 1.5rem;
}

.home{
  margin-bottom: 10rem;
}
 
.album__art{
  width: 500px;
  height: 500px;
  margin-left: 20rem;
  border: .5px solid var(--WIX-FONT-COLOR);
}

/* ===================ISTEN============ */
.artist__img-cover{
  margin: 0 22rem auto;
  padding-bottom: 8rem;
 
}

.artist__img{
  margin: 3rem 0;


}


.listen__container{
margin: 0 20rem auto;
margin-top: 4rem;

}

.tour__img{
  width: 400px;
  height: 400px;
  margin: 0 12rem auto;
}

.about__img{
  margin: 0 25rem auto; 
}

}


@media screen and (min-width:1120px) {
  .nav__list{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;
      margin: 0 20rem auto;
      text-align: center;
      padding-top: 2rem;
  }

  .nav__logo,
  .nav__toggle{
    display: none;
  }



  .music__container{
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 2rem;
  }

  .Artist{
    text-align: center;
    margin: 0 20rem auto;
    padding-left: 5rem;
  }

  .home{
    margin-bottom: 5rem;
  }

  .music__description{
    margin-top: 3rem;
    row-gap: 4rem;
   
  }

  .img__container{
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 20rem auto;
  }

  .tour__content{
    padding: 0 8rem;
  }

  .tour__button{
    color: white;
  }

  .tour__img{
    width: 400px;
    height: 400px;
    margin: 0 12rem auto;
  }

  .newsletter{
    padding: 0 8rem;
  }

  .about__container{
    grid-template-columns: repeat(2,1fr);
    
  }

  .about__content .description{
    margin-right: 3rem;
  }

  .about__content{
    font-family: "Syne" ,sans-serif;
  }

  

.album__art{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 2rem auto;
  border: .5px solid var(--WIX-FONT-COLOR);
}

.bottom__text{
 
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.nav__icons{
  display: none;
}

.listen__container {
  width: 450px;
  margin: 0 25rem auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.home__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  
}
.buttons__container{
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem 1.5rem;
}

.content__1{
  margin-right: 6rem;
  font-size: 1.5rem;
}

.home{
  margin-bottom: 10rem;
}
 

.artist__img-cover{
  margin: 0 30rem auto;
  padding-bottom: 8rem;
 
}

.artist__img{
  margin: 3rem 0;

}



}

